.video-list-wrapper{
  margin-bottom: 20px;
  box-shadow: 0 10px 20px rbga(0,0,0,.4)
}
.video-list-wrapper a{
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.video-embed{
  position:relative;
  height:0;
  padding-bottom:56.25%;
}
.video-embed iframe{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
}