
<h2>
  {{title}}
</h2>
<p>{{currentTime | date:"short"}}</p>

<div *ngFor='let item of videoList' class="video-list-wrapper">
  <a routerLink="videos/{{ item.slug }}" routerLinkActive="active">{{item.name}}</a>
  <!-- <a href="videos/{{ item.slug }}" *ngIf='item.slug === ""' style="color: red">{{item.name}}</a> -->

  <div class="video-embed" *ngIf='item.embed'>
    <iframe [src]="getEmbedUrl(item) | safeEmbed" width="640" height="360" frameborder="0" allowfullscreen></iframe>
  </div>

</div>
